<h1 class="title">Quản lý Khuyễn mại sản phẩm</h1>
<div class="tbl-main">
    <mat-toolbar>
        <mat-form-field appearance="standard">

            <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm" #input>
            <button matSuffix mat-button>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <span class="example-spacer"></span>
        <button class="add" mat-raised-button color="" (click)="openDialog()">Thêm mới</button>
    </mat-toolbar>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container> -->

            <ng-container matColumnDef="foodId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> foodId </th>
                <td mat-cell *matCellDef="let row"> {{row.foodId}} </td>
            </ng-container>

            <ng-container matColumnDef="categoryId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CategoryId </th>
                <td mat-cell *matCellDef="let row"> {{row.categoryId}} </td>
            </ng-container>


            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiêu đề </th>
                <td mat-cell *matCellDef="let row"> {{row.title}} </td>
            </ng-container>

            <ng-container matColumnDef="discountPercent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Giảm giá </th>
                <td mat-cell *matCellDef="let row"> {{row.discountPercent}}% </td>
            </ng-container>


            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày bắt đầu </th>
                <td mat-cell *matCellDef="let row"> {{row.startDate|date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày kết thúc </th>
                <td mat-cell *matCellDef="let row"> {{row.endDate|date:'dd/MM/yyyy'}} </td>
            </ng-container>

            
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mô tả</th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Thao tác </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)" color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteProduct(row.id)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            <tr class="mat-row" *matNoDataRow>

            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 75,  100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>