<h1 class="title">Quản lý đơn</h1>
<div class="tbl-main">
    <mat-toolbar>
        <mat-form-field appearance="standard">

            <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm" #input>
            <button matSuffix mat-button>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <span class="example-spacer"></span>
        <button class="add" mat-raised-button color="" (click)="openDialog()">Thêm mới</button>
    </mat-toolbar>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
                <td mat-cell *matCellDef="let row"> {{row.userId}} </td>
            </ng-container>
            <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên người nhận </th>
                <td mat-cell *matCellDef="let row"> {{row.customerName}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Địa chỉ </th>
                <td mat-cell *matCellDef="let row"> {{row.address}} </td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Số điện thoại </th>
                <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="orderCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã đơn</th>
                <td mat-cell *matCellDef="let row">{{row.orderCode}} </td>
            </ng-container>
            <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày order</th>
                <td mat-cell *matCellDef="let row">{{row.orderDate |date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mô tả </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá </th>
                <td mat-cell *matCellDef="let row"> {{row.price}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
                <td mat-cell *matCellDef="let row">{{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="completeAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hoàn thành </th>
                <td mat-cell *matCellDef="let row"> {{row.completeAt}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            <tr class="mat-row" *matNoDataRow>

            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 75,  100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>