<h1 class="title">Quản lý Góp ý</h1>
<div class="tbl-main">
    <mat-form-field appearance="standard">
        <mat-label>Tìm kiếm</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm" #input>
        <button matSuffix mat-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="feedback">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Đánh giá </th>
                <td mat-cell *matCellDef="let row">{{row.content}} </td>
            </ng-container>

            <ng-container matColumnDef="createDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời gian phản hồi</th>
                <td mat-cell *matCellDef="let row"> {{row.createDate}} </td>
            </ng-container>

            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Người  ùng</th>
                <td mat-cell *matCellDef="let row"> {{row.userId}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            <tr class="mat-row" *matNoDataRow>

            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 75,  100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>