<h1 class="title">Quản lý Combo</h1>
<div class="tbl-main">
    <mat-toolbar>
        <mat-form-field appearance="standard">
            <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm" #input>
            <button matSuffix mat-button>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>

        <span class="example-spacer"></span>
        <button class="add" mat-raised-button color="" (click)="openDialog()">Thêm mới</button>
    </mat-toolbar>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Người dùng </th>
                <td mat-cell *matCellDef="let row"> {{row.username}} </td>
            </ng-container>

            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và tên </th>
                <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}}</td>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
                <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa chỉ</th>
                <td mat-cell *matCellDef="let row"> {{row.address}} </td>
            </ng-container>

            <ng-container matColumnDef="roleName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vai trò </th>
                <td mat-cell *matCellDef="let row"> {{row.roleName}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo </th>
                <td mat-cell *matCellDef="let row"> {{row.createdAt}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let row"> 
                    <button mat-icon-button (click)="onEdit(row)" color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteProduct(row.id)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                 </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            <tr class="mat-row" *matNoDataRow>

            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 75,  100]" aria-label="Select page of users">
        </mat-paginator>
    </div>

</div>

