<h1 class="title">Báo cáo năm</h1>
<div class="tbl-main">
    <mat-toolbar>
        <mat-form-field appearance="standard">
            <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm" #input>
            <button matSuffix mat-button>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>

        <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            
            <ng-container matColumnDef="ordinal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ordinal </th>
                <td mat-cell *matCellDef="let row"> {{row.ordinal}}</td>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày bắt đầu </th>
                <td mat-cell *matCellDef="let row"> {{row.startDate}} </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày kết thúc </th>
                <td mat-cell *matCellDef="let row"> {{row.endDate}} </td>
            </ng-container>

            <ng-container matColumnDef="revenue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Doanh thu </th>
                <td mat-cell *matCellDef="let row"> {{row.revenue}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            <tr class="mat-row" *matNoDataRow>

            </tr>

        </table>
        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 75,  100]" aria-label="Select page of users">
        </mat-paginator>
    </div>
</div>