<h1 mat-dialog-title>Thêm Order</h1>
<div mat-dialog-content>
  <form [formGroup]="orderForm">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Tên khách hàng</mat-label>
          <input type="text" formControlName="customerName" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Địa chỉ giao hàng</mat-label>
          <input type="text" formControlName="address" matInput placeholder="Address">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Số điện thoại</mat-label>
          <input type="text" formControlName="phoneNumber" matInput placeholder="Phone">
        </mat-form-field>
      </div>
      <button (click)="addItem()">Danh sách món</button>

      <div class="col-12" formArrayName="orderDetailList" *ngFor="let item  of formArr.controls; let i = index;">
        <div [formGroupName]="i">
          <mat-form-field>
            <label>Mã món ăn</label>
            <input formControlName="foodId" matInput>
          </mat-form-field>
          <mat-form-field>
            <label>Mã combo</label>
            <input formControlName="comboId" matInput>
          </mat-form-field>
          <mat-form-field>
            <label>Giá</label>
            <input formControlName="price" matInput>
          </mat-form-field>
          <mat-form-field>
            <label>Mã khuyến mại</label>
            <input formControlName="promotionId" matInput>
          </mat-form-field>
          <mat-form-field>
            <label>Số lượng</label>
            <input formControlName="quantity" matInput>
          </mat-form-field>

        </div>
      </div>
    </div>




  </form>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="addOrder()">{{actionBtn}}</button>
  </div>
</div>